@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

html {
  scroll-behavior: smooth;
}


/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1A1A1A; /* Matches 'prime-dark' */
}

::-webkit-scrollbar-thumb {
  background: #4D4D4D; /* Matches 'prime' */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3B3B3; /* Matches 'second' */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4D4D4D #1A1A1A; /* Thumb color matches 'prime', track matches 'prime-dark' */
}

#loader-wrapper {
  transition: opacity 0.5s ease-out;
}
